html {
  font-family: "Consolas", "Courier New", monospace;
}

html,
body {
  height: 100%;
  margin: auto;
  background-color: #161922;
}

nav {
  display: flex;
  flex-direction: row;
  float: right;
  gap: 16px;
  font-weight: bold;
}

main {
  padding-bottom: 50px;
}

.divider {
  color: #3b4252;
}

.ascii-container pre {
  background-color: transparent;
  text-align: center;
}

canvas {
  position: relative;
  background-color: #161922;
  color: white;
  height: 320px;
  width: 100%;
  margin: 8px 0 24px 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

#game-text {
  position: relative;
  top: 140px;
  height: 0;
  font-family: "VT323", monospace;
  font-size: 48px;
  color: white;
  display: inline;
  pointer-events: none;
  z-index: 1;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.js-only {
  display: none;
}
